body *{
  margin: 0px;
  box-sizing: border-box;
}

body{
  font-family: 'Bellefair', serif;
  background-color: black;
  background-image: url("images/boxBackground.jpg");
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
  margin: 0px;
}

header{
  height: 100%;
  width: 100%;
  color:ghostwhite;
  text-align: center;
  font-size: 1rem;
  display: flex;
  justify-content: center;
}


.statsContainer{
  background-color: rgba(0,0,0,0.45);
  margin-top: 12%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

aside{
  height: 100%;
  width: 17%;
  color: ghostwhite;
  font-size: 2.5rem;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}


/** main container and game */

main{
  height: 100%;
  width: 80%;
  display: flex;
  margin: 0;
}

.container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.game-container{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/**       NavBar       */
.topnav {
  font-size: 2rem;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  height: 40%;
  width: 100%;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Modal  */
#ex1{
  height: 14%;
  width: 20%;
  font-size: 34px;
  color: black;
  text-align: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
}

.blocker{
  background-image: url("images/fireflies.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.modalDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.startModal{
  height: 100%;
  width: 100%;
  display:flex;
  position: fixed;
  font-size: 3rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: black;
  opacity: 0.9;
  z-index: 2;
  top: 0;
}
.modalContent{
  height: 50%;
  width: 50%;
  display: flex;
  opacity: 1 ;
  background-color: white;
  opacity: initial;
  text-align: center;
  justify-content: center;
  align-items: center;

}

.card{
  height: 31%;
  width: 15%;
  padding: 0 4px;
  cursor: pointer;
}

.flip .card-inner {
  transform: rotateY(180deg);
}

.card-inner {
  height: 100%;
  width: 100%;
  position: relative;
  text-align: center;
  transform-style:preserve-3d;
  transition: transform 0.6s;
}

.front, .back {
  height: 100%;
  width: 100%;
  border-radius: 3%;
  backface-visibility: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
}

.card:hover{
  transition:transform 0.6s;
  transform: scale(1.35);
  z-index: 800;
}

.back{
  background-image: url(images/animatedCard3.gif);
  background-size: contain;
}
.front{
  transform: rotateY(180deg);
  background-size: contain;
}
.aya{
  background-image: url("images/Aya_Blackpaw\(49706\).png");
}
.boom{
  background-image: url(images/Dr._Boom\(12182\).png);
}
.glassKnight{
  background-image: url(images/The_Glass_Knight\(89411\).png);
}
.jaraxxus{
  background-image: url(images/Lord_Jaraxxus\(482\).png);
}
.varian{
  background-image: url(images/Varian_Wrynn\(22342\).png);
}
.zuljin{
  background-image: url("images/Zul\'jin\(90248\).png");
}
.lich{
  background-image: url("images/The_Lich_King\(62922\).png");
}
.toki{
  background-image: url("images/Toki\,_Time-Tinker\(89406\).png");
}
.inquisitor{
  background-image: url("images/High_Inquisitor_Whitemane\(90686\).png");
}
.hidden{
  visibility: hidden;
}


.hide {
  display: none;
}
/* #myVideo{
  width:100%;
  height:auto;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
} */

/*      iPhone X   */

@media only screen and (max-width: 1100px){
  body{
    background-position: center
  }
  .game-container{
    display: flex;
    flex-direction: column;
  }
  .container{
    margin-top: 4%;
  }
  aside{
    height: 7vh;
    width: 100%;
    flex-direction: row;
  }
  .statsContainer > h2 {
    display:none
  }
  .topnav{
    font-size: 3rem;
  }
  .statsContainer{
    margin: 0;
    height: 8vh;
    width: 100%;
    flex-direction: row;
  }
  .card{
    width: 32%;
    padding: 0;
  }
  main{
    width: 100%;
  }
}
